<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Countries Info API</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/style.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body class="landing">
	<!-- Header -->
	<header id="header">
		<h1><a class="contrast-blue" href="index">Countries Info API</a></h1>
		<nav class="nav">
			<ul>
				<li><a href="index">Home</a></li>
				<li><a href="about">About</a></li>
				<li><a href="api">API</a></li>
				<li sec:authorize="isAuthenticated()"><a th:href="@{/rest}">Trips</a></li>
				<li sec:authorize="isAuthenticated()">  <a th:href="@{/logout}">Log out</a></li>
				<li sec:authorize="isAuthenticated()"> <span th:text="${#authentication.getPrincipal().getUsername()}"></span></li>
				<li sec:authorize="isAnonymous()">  <a th:href="@{/login}">Log in</a></li>
				<li sec:authorize="isAnonymous()">  <a th:href="@{/signup}">Register</a></li>
			</ul>
		</nav>
	</header>

	<!-- Main -->
	<section id="main" class="wrapper banner2">
		<div class="container">
			<header class="major">
				<h2>About</h2>
			</header>
			<p class="col-md-12">This website was created by Iliyan Stoyanov using HTML,CSS,JavaScript, JQuery and AJAX.
			</p>
			<div class="text-center">
				<a href="https://www.facebook.com/IStoyanov22" class="fa fa-facebook"></a>
				<a href="mailto:iliya.stoyanov.22@gmail.com" class="fa fa-google"></a>
				<a href="https://www.linkedin.com/in/iliyan-stoyanov-63a0a2160/" class="fa fa-linkedin"></a>
				<a href="skype:username?add" class="fa fa-skype"></a>
			</div>
		</div>
	</section>

	<!-- Footer -->
	<footer id="footer">
		<ul class="copyright">
			<li>Iliyan Stoyanov #22</li>
			<li><a href="iliyan.stoyanov.22@gmail.com">iliyan.stoyanov.22@gmail.com</a></li>
			<li>&copy; All rights reserved.</li>
		</ul>
	</footer>
</body>

</html>