<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
	<meta charset="UTF-8">
	<title>Countries Info API</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/style.css" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body class="landing">
	<!-- Header -->
	<header id="header">
		<h1><a href="index">Countries Info API</a></h1>
		<nav class="nav">
			<ul>
				<li><a href="index">Home</a></li>
				<li><a href="about">About</a></li>
				<li><a href="api">API</a></li>
				<li sec:authorize="isAuthenticated()"><a th:href="@{/rest}">Trips</a></li>
				<li sec:authorize="isAuthenticated()">  <a th:href="@{/logout}">Log out</a></li>
				<li sec:authorize="isAuthenticated()"> <span th:text="${#authentication.getPrincipal().getUsername()}"></span></li>
				<li sec:authorize="isAnonymous()">  <a th:href="@{/login}">Log in</a></li>
				<li sec:authorize="isAnonymous()">  <a th:href="@{/signup}">Register</a></li>
			</ul>
		</nav>
	</header>

	<!-- Banner -->
	<section id="banner">
		<h2>Countries Info API</h2>
		<p>The one and only web API with full details about countries around the world</p>
		<ul class="actions">
			<li>
				<a href="api" class="button big">To the API</a>
			</li>
		</ul>
	</section>

	<!-- Content -->
	<section id="one" class="wrapper style1 align-center col-md-12">
		<div class="container-fluid">
			<header class="col-md-12">
				<h2>This website provides 100% correct information about all the countries in the world.</h2>
			</header>
			<div class="col-md-12 row">
				<section class="col-md-4">
					<p>Search countries by name and receive all the basic information you need for this county.</p>
				</section>
				<section class="col-md-4">
					<p>Currency search - with this brand new functionallity you can search countries by their currency.
					</p>
				</section>
				<section class="col-md-4">
					<p>Cutting edgy technology which allows you to search countries by their official language. This
						feature may help travellers find places where they can practise any language.</p>
				</section>
			</div>
		</div>
	</section>

	<!-- Footer -->
	<footer id="footer">
		<ul class="copyright">
			<li>Iliyan Stoyanov #22</li>
			<li><a href="iliyan.stoyanov.22@gmail.com">iliyan.stoyanov.22@gmail.com</a></li>
			<li>&copy; All rights reserved.</li>
		</ul>
	</footer>
</body>

</html>