<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>My Trips</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body class="landing">
<!-- Header -->
<header id="header">
    <h1><a class="contrast-blue" href="index">Countries Info API</a></h1>
    <nav class="nav">
        <ul>
            <li><a href="index">Home</a></li>
            <li><a href="about">About</a></li>
            <li><a href="api">API</a></li>
            <li sec:authorize="isAuthenticated()"><a th:href="@{/rest}">Trips</a></li>
            <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Log out</a></li>
            <li sec:authorize="isAuthenticated()"><span
                    th:text="${#authentication.getPrincipal().getUsername()}"></span></li>
            <li sec:authorize="isAnonymous()"><a th:href="@{/login}">Log in</a></li>
            <li sec:authorize="isAnonymous()"><a th:href="@{/signup}">Register</a></li>
        </ul>
    </nav>
</header>

<!-- Main -->
<section id="main" class="wrapper banner2">
    <div class="container">
        <h3>New Trip</h3>
        <div id="createTrip">
            <div class="row">
                <div class="col-md-3 field-label-responsive">
                    <label for="name">Name</label>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                            <input type="text" name="name" class="form-control" id="tripName"
                                   placeholder="Trip name" required autofocus>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 field-label-responsive">
                    <label for="country">Country</label>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                            <select id="countryId" name="countryId" class="select-content">
                                <option th:each="country : ${countries}" th:value="${country.id}" class="option-content"
                                        th:text="${country.name}"></option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <button type="submit" id="createTripBtn" class="btn btn-success">Submit</button>
                </div>
            </div>
        </div>

        <div id="edit-modal" class="modal fade" role="dialog" tabindex="-1">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div id="editTrip">
                        <h3>Edit</h3>
                        <div class="row">
                            <div class="col-md-3 field-label-responsive">
                                <label for="name">Name</label>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                        <input type="text" name="name" class="form-control" id="editTripName"
                                               placeholder="Trip name" required autofocus>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 field-label-responsive">
                                <label for="country">Country</label>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">

                                        <select id="editCountryId" name="countryId" class="select-content">
                                            <option th:each="country : ${countries}" th:value="${country.id}"
                                                    class="option-content"
                                                    th:text="${country.name}"></option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br><br>
                        <div class="row">
                            <div class="col-md-3"></div>
                            <div class="col-md-6">
                                <button type="submit" id="editTripBtn" class="btn btn-success">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div id="trips">
            <br><br>
            <h2>My Trips</h2>
            <div class="row">
                <input type="text" class="form-control col-md-9" id="search-input" name="search-input"
                       placeholder="Search trip...">
                <button type="submit" id="search-input-btn" class="btn btn-primary col-md-3">Search</button>
            </div>
            <div class="row">
                <select id="searchSelect" name="countryId">
                    <option value="0">Search By Country</option>
                    <option th:each="country : ${countries}" th:value="${country.id}" class="option-content"
                            th:text="${country.name}"></option>
                </select>
            </div>
        </div>
        <br><br>
        <div id="restTrips">

        </div>
    </div>
    </div>
</section>
<!-- Footer -->
<footer id="footer">
    <ul class="copyright">
        <li>Iliyan Stoyanov #22</li>
        <li><a href="iliyan.stoyanov.22@gmail.com">iliyan.stoyanov.22@gmail.com</a></li>
        <li>&copy; All rights reserved.</li>
    </ul>
</footer>

<script src="/js/rest.js"></script>
</body>
</html>